# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Docker
*.dockerignore
docker-compose.override.yml
*.log

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python specific
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Pytest
.cache/
.pytest_cache/

# Video / media cache (si hay)
*.mp4
*.avi
*.mov
*.mkv
